@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccc;
}

section {
  padding-top: 2rem;
}

h2 {
  text-align: center;
  margin: 0;
  padding-bottom: .6rem;
}

img {
  display: block;
  width: 100%;
  max-width: 5rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

p {
  margin: 0;
  max-width: 24rem;
}

h3, h4 {
  margin: 0;
}

hgroup {
  max-width: 16rem;
}

a {
  padding: .6rem;
  background-color: #444;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #000;
}
